.venv/
.vscode/
TestData/
reconstruction_v1/
__pycache__/
*.py[codz]
*$py.class
.ipynb_checkpoints
reconstruction_partial.h5
120kv_FDK/
1um_.25inch/
fdk_angle12/
fdk_thz/
FDK_2/
fdk_angle20/
~$*
Box_14 - Shortcut.lnk/
generated/